body {
  font: 20px Times, sans-serif;
}

.navbar {
  background-color: #20b2aa;
}

.quem-somos {
  background-color: #00ffff;
}

.margin {
  padding-top: 30px;
  padding-bottom: 30px;
}

.parceiros {
  background-color: lightskyblue;
}

.bg-footer {
  background-color: #20b2aa;
}
